{% extends "bimain_layout.html" %}

{% block title %}销售总体趋势 / 销售{% endblock %}

{% block secondary %}
{% include 'sale/nav.html' %}
{% endblock %}

{% block main %}
<section id="maincontainer">
    <div id="main" class="container_12">
        <div class="box">
            <div class="box-header">
                <span class="glyph chart"></span> <h1>销售总体趋势</h1>
            </div>
            <div class="box-content">
                <div id="chart_container_all">
                    正在加载数据，请稍等...
                </div>
            </div>
            <!--<div class="action_bar">
                <a href="#" class="button small blue"><span class="glyph export"></span>Export data</a>
                <a href="#" class="button small"><span class="glyph print"></span>Print statistics</a>
            </div>-->
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
    <script src="/static/Highstock-1.2.4/js/highstock.js"></script>
    <script type="text/javascript">
        
        
        $(function(){
            Highcharts.setOptions({'lang':chart_lang});
            chart = new Highcharts.Chart({
            chart: {
                height: 600,
                renderTo: 'chart_container_all',
                zoomType: 'xy'
            },
            title: {
                text: 'Average Monthly Weather Data for Tokyo'
            },
            subtitle: {
                text: 'Source: WorldClimate.com'
            },
            xAxis: [{
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    formatter: function() {
                        return this.value +'°C';
                    },
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: 'Temperature',
                    style: {
                        color: '#89A54E'
                    }
                },
                opposite: true
    
            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Rainfall',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value +' mm';
                    },
                    style: {
                        color: '#4572A7'
                    }
                }
    
            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Sea-Level Pressure',
                    style: {
                        color: '#AA4643'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value +' mb';
                    },
                    style: {
                        color: '#AA4643'
                    }
                },
                opposite: true
            }],
            tooltip: {
                formatter: function() {
                    var unit = {
                        'Rainfall': 'mm',
                        'Temperature': '°C',
                        'Sea-Level Pressure': 'mb'
                    }[this.series.name];
    
                    return ''+
                        this.x +': '+ this.y +' '+ unit;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 80,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: [{
                name: 'Rainfall',
                color: '#4572A7',
                type: 'column',
                yAxis: 1,
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
    
            }, {
                name: 'Sea-Level Pressure',
                type: 'spline',
                color: '#AA4643',
                yAxis: 2,
                data: [1016, 1016, 1015.9, 1015.5, 1012.3, 1009.5, 1009.6, 1010.2, 1013.1, 1016.9, 1018.2, 1016.7],
                marker: {
                    enabled: false
                },
                dashStyle: 'shortdot'
    
            }, {
                name: 'Temperature',
                color: '#89A54E',
                type: 'spline',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }]
        });
            //{{url_for('sale_view_sale.amount_division_data') }}
            // $.getJSON('{{url_for('sale_view_sale.amount_division_data') }}', function(data){
            //      chart = new Highcharts.StockChart({
            //          chart: {
            //              height: 600,
            //              renderTo: 'chart_container_all'
            //          },
    
            //          rangeSelector: {
            //              selected: 1
            //          },
            //          legend: {
            //              enabled: true,
            //              floating:true,
            //              verticalAlign: top,
            //              x:0,
            //              y:30
            //          },
            //         plotOptions: {
            //              series: {
            //                      compare: 'percent'
            //              }
            //          },
            //          tooltip: {
            //              pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            //              valueDecimals: 2
            //          },
                    
            //          series: data.result
            //      });
            // });
            
        });
    </script>
{% endblock %}