<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Candy - Chats are not dead yet</title>
	<link rel="shortcut icon" href="/static/res/img/favicon.png" type="image/gif" />
	<link rel="stylesheet" type="text/css" href="/static/res/default.css" />
	<script src="/static/deploy/flXHR.js"></script>
	<script src='/static/strophe.js'></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
	<script type="text/javascript" src="/static/libs/libs.min.js"></script>
	<script type="text/javascript" src="/static/candy.min.js"></script>
</head>
<body>
	<div id="candy"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			Candy.init('/http-bind/', {
				core: { debug: true },
				view: { resources: '/static/res/' },
			});
			
			Candy.Core.connect();
		});
	</script>
</body>
</html>
