<!doctype html>
<html lang="en">

<head>
<script language="javascript" type="text/javascript">
        var xmlHttp;
        function showHint(str)
        {
                if (str.length==0)
                  { 
                  document.getElementById("txtHint").innerHTML="";
                  return;
                  }

                xmlHttp=GetXmlHttpObject();

                if (xmlHttp==null)
                  {

                  alert ("Browser does not support HTTP Request");
                  return;

         } 

                var url="get.php";
                url=url+"?q="+str;
                url=url+"&sid="+Math.random();
                xmlHttp.onreadystatechange=stateChanged ;
                xmlHttp.open("GET",url,true);
                xmlHttp.send(null);
        
        } 

        function stateChanged() 
        { 

        if (xmlHttp.readyState==4 || xmlHttp.readyState=="complete")
                 { 
                        document.getElementById("txtHint").innerHTML=xmlHttp.responseText;
                 } 
        };

        function GetXmlHttpObject()
        {
        var xmlHttp=null;
        try
         {
         // Firefox, Opera 8.0+, Safari
         xmlHttp=new XMLHttpRequest();
         }
        catch (e)
         {
         // Internet Explorer
         try
          {
          xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
          }
         catch (e)
          {
          xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
         }
        return xmlHttp;
        }
</script> 
</head>

<body>

    <form action="/templates/get.php" method="get">
Name: <input type="text" name="name" />
Age: <input type="text" name="age" />
<input type="submit" />
</form>
</body>
</html>